:root {
    /* Colores Forest Reader */
    --forest-primary: #064e3b; /* Verde Bosque Profundo */
    --forest-accent: #bc8a5f; /* Tono Cuero / Siena */
    --forest-accent-hover: #a6764d; /* Cuero más oscuro para hover */
    --forest-paper: #fdfcf0; /* Crema Papel Antiguo */
    --forest-text-dark: #1a2f23; /* Verde casi negro para textos */

    /* Configuraciones */
    --transition-base: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

* {
    margin: 0;
    padding: 0;
}